/* 商品の概要 */

.album-show {
  background-color: #f8f8f8;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}

.album-box {
  background-color: #FFF;
  width: 70vw;
  min-width: 1200px;
  padding: 10vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.album-box>.name {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 25px;
}

.album-box-img {
  height: 50vh;
  width: 60vw;
  min-height: 500px;
  background-color: rgb(205, 202, 202);
  object-fit: contain;
}

.album-img-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.image {
  width: 50%;
  height: 50%;
}

.album-blue-btn {
  text-align: center;
  background-color: #57C3E9;
  font-size: 18px;
  font-weight: bold;
  color: #FFF;
  margin: 30px 0px 5px;
  padding: 2vh 5vw;
}

.or-text {
  font-size: 20px;
}

.album-destroy {
  background-color: lightgray;
  text-align: center;
  font-size: 18px;
  color: black;
  margin: 5px ;
  padding: 2vh 5vw;
}

.album-explain-box {
  font-size: 18px;
  margin: 40px 0px;
  overflow-wrap: anywhere;
}

.detail-table {
  margin-bottom: 30px;
  margin-top: 30px;
  width: 50%;
}

.detail-album {
  width: 25%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 60%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}

.detail-album-content {
  width: 25%;
  height: 150px;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value-content {
  width: 60%;
  height: 150px;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}

.album-join-btn {
  text-align: center;
  background-color: orange;
  font-size: 18px;
  font-weight: bold;
  color: #FFF;
  margin: 25px 0px 5px;
  padding: 2vh 5vw;
}