/* アルバムの概要 */
.album-show {
  background-color: #f8f8f8;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}
.album-box {
  background-color: #FFF;
  width: 70vw;
  padding: 20px;
  min-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.album-box>.name {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 25px;
}
.album-box-img {
  height: 50vh;
  width: 60vw;
  min-height: 500px;
  background-color: rgb(205, 202, 202);
  object-fit: contain;
}
.album-img-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.image {
  width: 50%;
  height: 50%;
}
.album-blue-btn {
  text-align: center;
  background-color: #57C3E9;
  font-size: 18px;
  font-weight: bold;
  color: #FFF;
  margin: 30px 0px 5px;
  padding: 2vh 5vw;
}
.or-text {
  font-size: 20px;
}
.album-destroy {
  background-color: lightgray;
  text-align: center;
  font-size: 18px;
  color: black;
  margin: 5px ;
  padding: 2vh 5vw;
}
.album-explain-box {
  font-size: 18px;
  margin: 40px 0px;
  overflow-wrap: anywhere;
}
.detail-table {
  margin-bottom: 30px;
  margin-top: 30px;
  width: 50%;
}
.detail-album {
  width: 25%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}
.detail-value {
  width: 60%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}
.detail-album-content {
  width: 25%;
  height: 150px;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}
.detail-value-content {
  width: 60%;
  height: 150px;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}
.album-join-btn {
  text-align: center;
  background-color: orange;
  font-size: 18px;
  font-weight: bold;
  color: #FFF;
  margin: 25px 0px 5px;
  padding: 2vh 5vw;
}

/* メモリー一覧　*/
.memory-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}
.memory-contents>.main-title {
  font-size: 3vh;
  margin: 1vh 0;
  text-decoration: none;
  color: #3ccace;
  font-weight: bold;
}
.memory-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.memory-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
}
.memory-img-content {
  position: relative;
}
.memory-img {
  width: 33vh;
  height: 33vh;
}
.memories {
  width: 100%;
  height: 1000%;
}
.memory-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}
.memory-title {
  font-size: 2.5vh;
}
.memory-date {
  font-size: 1.5vh;
}

/* コメント投稿欄　*/
.album_comments{
  background-color: #f6f6f6;
  padding: 20px;
  margin: 28px 0 40px 0;
  width: 50%;
}
.comments_lists_name {
  font-size: 18px;
}
.comments_lists{
  padding-left: 20px;
}
.comments_list{
  list-style-type: square;
  padding-bottom: 5px;
  font-size: 15px;
}
.comment_user{
  font-size: 12px;
  color: #999;
  text-decoration: underline;
}
.comment_text {
  width: 50%;
}
.comment_field{
  margin: 10px 0;
}
.actions{
  margin-bottom: 40px;
}
.comment_btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #87CEFA;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}
.comment_btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}