<div class="contents row">
  <div class="container">
    <h3>アルバム作成</h3>
    <%= render partial: 'shared/error_messages', locals: {model: @album } %>
    <%= render partial: "form", locals: { album: @album } %>
  </div>
</div>