header.header {
  padding: 10px;
  border-bottom: 1px solid #D8D8D8;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  height: 40px;
}

header.header div.header__bar.row {
  position: relative;
}

header.header div.header__bar.row h1.grid-6 {
  font-size: 20px;
  line-height: 10px;
  float: left;
}

header.header div.header__bar.row h1.grid-6 a {
  display: block;
}

header.header div.header__bar.row div.grid-6 {
  float: right;
  text-align: right;
}

header.header div.header__bar.row div.grid-6 a.post {
  width: 120px;
  display: inline-left;
  margin-left: 10px;
}

footer {
  margin: 30px auto;
  padding: 10px;
  color: #D8D8D8;
}

footer p {
  text-align: center;
}